@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
}

body {
    background-color: #19191A;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;  
    color: white;
    
}
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(56, 51, 51, 0.719);
}
ul{
    padding: 0px;
}
#tittle  > i{
    margin-left: 60px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    color: white;
    
}

.centro > ul > a > li {
    color: white;
    display: inline-flex;
    border-radius: 6px;
    margin: 0px 5px;
    font-size: 18px;
    padding: 0px 15px;
}
.esquerda > a > i {
    color: white;
    display: inline-flex;
    border-radius: 6px;
    margin: 0px 5px;
    height: 36px;
    width: 36px;
    font-size: 30px;
    
}

#tittle strong {
    color: #AC32EB;
}

.centro > ul :hover{
    color: #AC32EB;
    
}
.esquerda > a > i:hover{
    color: #AC32EB;
    
    
}
div > h1{
    line-height: 25px;
}

#first-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-weight: 300;
    line-height: 40px;
    

    
}
#first-section > div h1{
    font-size: 31px;
    font-weight: 300;
    line-height: 25px;
   
}
#first-section > div strong{
    color: #AC32EB;
}
#first-section > div > p strong:hover{
    text-decoration: underline;
}
img{
    height: 400px;
    width: auto;
    border-radius: 50%;
}

#second-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 150px;
    line-height: 43px;
    background-color: #34044d;
    
}

#second-section > ul li{
    display: inline;
    padding: 0px 40px;
    line-height: 40px;
}
#second-section > ul li abbr{
    display: inline;
    padding: 0px 40px;
    line-height: 40px;
    text-decoration: none;
    
}


#second-section > h1{
    text-align: center;
    font-weight: 400;
   align-items: center;
}

ul{
    list-style:circle
}


#third-section{
    width: 100%;
    text-align: center;
    display: block;
}



#third-section .projeto{
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#third-section .projeto img{
    border-radius: 10%;
    height: auto;
    width: 500px;
    margin: 0px 30px;
}

#third-section .projeto02{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    
 }

 #third-section .projeto02 img{
    border-radius: 10%;
    height: auto;
    width: 500px;
    margin: 0px 30px;
    

}

#third-section h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 31px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
#third-section .DescricaoProjeto{
    width: 600px;
    text-align: center;
   
}
#third-section > div strong{
    color: #AC32EB;
}

@media (max-width: 320px){

    header{
        background-color: #AC32EB;
        background-size: 100%;
        width: 100vh;
       
    }
    header > ul > a > li {
        display: inline;
    }
    
    header .esquerda {
        display: inline;
        text-align: center;
        
    }

    #first-section{
        display: inline-block;
        margin-top: 30px;
        width: 100vh;
    }
    #third-section {
       dis
    }
}




@media (max-width: 874px){
    header{
        background-color: #AC32EB;
        background-size: 100%;
        width: 100vh;
        
    }
    .centro ul a li {
        display: flex;
    }
    
    header .esquerda {
        display: inline;
        text-align: center;
        
    }

    #first-section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vh;
        margin-top: 30px;
    }

    #second-section{
        width: 100vh;
    }
    #third-section{
        
    }
}



